@tailwind base;
@tailwind components;
@tailwind utilities;


/* agrega todas las reglas para reset css */


@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

.dark {
    color-scheme: dark;
}

body {
    font-family: 'Roboto', sans-serif;
}


.user-header {
    height: 175px;
    padding: auto;
    text-align: center;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.user-header img {
    height: 150px;
    width: 150px;
    border: 0 solid;
}

.user-body {
    padding: 20px;
}

.user-body a {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.user-body a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    bottom: 0;
    left: -100%;
    transition: left 0.5s ease;
}

.user-body a:hover::after {
    left: 0;
}

.user-body .row {
    margin: 0;
}

.dropdown-menu-pos {
    top: 45px;
    right: 0 !important;
    left: auto !important;
}

@view-transition {
    navigation: auto;
}

::view-transition-old(root) {
    animation-name: fadeOut;
    animation-duration: 0.5s;
}

::view-transition-new(root) {
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* .DragDropArea {
    border: 5px dashed #ddd;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: relative;
    background-color: #f5f5f5;
    color: #bdbdbd;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.DragDropArea.active {
    background-color: #b8d4fe;
    color: black;
    border: 2px dashed #618ac9;
}

.DragDropArea h2 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
}

.DragDropArea span {
    font-size: 25px;
    font-weight: 500;
    color: #000;
} */

.bg-selected {
    color: #000;
    background-color: #259d4070 !important;
}

.loader {
    width: 28px;
    height: 28px;
    border: 5px solid #fff;
    border-bottom-color: #ff3d00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loaderOverTable {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-bottom-color: #ff3d00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1090;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.searchInput {
    border-radius: 20px;
    position: absolute;
}

#cActv {
    width: 0px;
    border-radius: 0px;
    border: 0px;
    padding: 0px;
    text-transform: lowercase;
    text-align: center;
}

/* .cursor-pointer {
    cursor: pointer;
}
.cursor-not-allowed {
    cursor: not-allowed;
} */

.dropdown-item-hover:hover {
    background-color: #6c757d;
    color: #f7f4f4;
}

.loader-arrow {
    width: 48px;
    height: 48px;
    display: inline-block;
    border: 3px solid;
    border-color: #de3500 #0000 #7e7b7b #0000;
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s rotate-arrow linear infinite;
}

.loader-arrow:before,
.loader-arrow:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color: #7e7b7b;
    transform: translate(-10px, 19px) rotate(-35deg);
}

.loader-arrow:after {
    border-color: #de3500 #0000 #0000 #0000;
    transform: translate(32px, 3px) rotate(-35deg);
}

@keyframes rotate-arrow {
    100% {
        transform: rotate(360deg);
    }
}

.draggable_touch {
    cursor: move;
    touch-action: none;
}

.progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.ModalBodegasProd {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 5px 5px 7px rgb(83, 82, 82);
    z-index: 100;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */
/* {
    opacity: 0;
} */

.vertical-scrollable>.row {
    overflow-y: scroll;
    height: 300px;
}

.swal-wide {
    width: 850px !important;
}

.swal-target {
    width: 100% !important;
    margin: 0 auto;
    margin-top: 10px;
}

.toasts-top-right {
    z-index: 1080;
}

/* inicio dark mode - ajustes */

.dark-mode input:disabled {
    background-color: #343a40;
    color: #fff;
    opacity: 1;
}

.dark-mode input:disabled:hover {
    background-color: #343a40;
    color: #fff;
    opacity: 1;
}

.dark-mode input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #343a40 inset !important;
    -webkit-text-fill-color: #fff !important;
}

.dark-mode .list-group .list-group-item {
    color: #fff !important;
}

.dark-mode .list-group-item.list-group-item-action:hover {
    background-color: #3f6791 !important;
    color: #fff !important;
}

.dark-mode .list-group-item.active {
    background-color: #007bff !important;
    color: #fff !important;
}

.dark-mode .text-red {
    color: #d97f76 !important;
}

.dark-mode .btn-outline-info {
    color: #8bcdf9;
}

.dark-mode .btn {
    color: #fff;
}

/* fin dark mode - ajustes*/


/* switch dark-light mode */
.one-quarter .checkbox {
    opacity: 0;
    position: absolute;
}

.one-quarter .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    width: 50px;
    transform: scale(1.5);
}

.one-quarter .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.one-quarter .checkbox:checked+.label .ball {
    transform: translateX(34px);
}

.one-quarter .fa-moon {
    color: #f1c40f;
}

.one-quarter .fa-sun {
    color: #f39c12;
}


/* Estilos generales del scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Estilo del "thumb" (barra deslizante) */
::-webkit-scrollbar-thumb {
    background-color: rgba(31, 41, 55, 0.8);
    /* Color visible */
    border-radius: 10px;
    /* Bordes más suaves */
    border: 1px solid #f1f1f1;
    /* Borde más delgado */
}

/* Color del "track" (fondo de la barra de desplazamiento) */
::-webkit-scrollbar-track {
    background-color: #e5e7eb;
    border-radius: 10px;
}

/* Efecto al pasar el cursor sobre el scrollbar */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(31, 41, 55, 1);
    /* Más oscuro en hover */
}

.dark-mode .node-tree:hover {
    background-color: #007bff !important;
    color: #fff !important;
}
